@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

html,
body,
:root {
  height: 100%;
  font-family: "PT Serif", serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.image {
  height: 30vmin;
}

table.basic {
  @apply w-full rounded-sm bg-white shadow-md;
}

table.basic thead tr th {
  @apply text-gray-600 uppercase bg-gray-200 border-black border px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-1 border border-black;
}

.mapContainer {
  z-index: 0;
  position: relative;
}

/* Slide In Animation */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide-in-right {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
